@model SaleReviewModel

@{
    ViewData["Title"] = "Review sale";
    var discountBreakdown = Model.AdditionalDiscount != 0
        ? $"{Model.TotalDiscount}% (incl. {Model.AdditionalDiscount}% bonus)"
        : $"{Model.TotalDiscount}%";
}

<h1>Review sale</h1>

<div class="row justify-content-start">
    <div class="col-md-6">
        <form asp-action=@(nameof(SalesController.FinalizeCreate)) method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" readonly />
                <input asp-for="CustomerId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                <input asp-for="Car" class="form-control" readonly />
                <input asp-for="CarId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>, %
                <input asp-for="Discount" class="form-control" hidden />
                <input asp-for="AdditionalDiscount" class="form-control" hidden />
                <input value="@discountBreakdown" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="NetPrice" class="control-label"></label>
                <input asp-for="NetPrice" class="form-control" readonly />
            </div>

            <partial name="../Shared/_FormSubmitPartial" model="@(nameof(SalesController.Create))" />
        </form>
    </div>
</div>

<a asp-action="@(nameof(SalesController.Create))">Back to Create</a>